---
---

@import "{{ site.theme }}";

$black-primary: #131419;
$white-primary: #FFF;
$white-secundary: #8e8e97;
$gray-primary: #5F5F6E;


body {
    background-color: $black-primary;
}

a {
    color: $gray-primary;

    &:hover {
        color: $white-secundary;
    }
}

h1, h2, h3, h4, h5, h6 {
    
    color: $white-primary;
    
    a {
        color: $gray-primary
    }

    a:hover {
        color: $white-secundary;
    }
}

h1 a, h1 a:hover {
    color: $white-primary
}