---
---

@import "{{ site.theme }}";

$black-primary: #131419;
$white-primary: #FFF;
$gray-primary: #282B31;

body {
    background-color: $black-primary;
}

h1, h2, h3, h4, h5, h6 {
    
    color: $white-primary;
    
    a {
        color: $gray-primary
    }
}

a {
    color: $gray-primary;
}